@model LMS.Grupp4.Core.ViewModels.Elev.AktivitetElevDetailsViewModel

@{
    ViewData["Title"] = "Detaljer för Aktivitet";
}


<div>
    @if (Model != null)
    {
        <h4>@Model.KursNamn - @Model.ModulNamn - @Model.Namn</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Namn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Namn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartDatum)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartDatum)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SlutDatum)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SlutDatum)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Beskrivning)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Beskrivning)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AktivitetTypNamn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AktivitetTypNamn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ModulNamn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ModulNamn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.KursNamn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.KursNamn)
            </dd>
            <dt class="col-sm-2">
                Status
            </dt>
            <dd class="col-sm-10">
                <status start-datum="@(Model.StartDatum)" slut-datum="@(Model.SlutDatum)"></status>
            </dd>
        </dl>


    }


        else
        {
        <div class="alert alert-success" role="alert">
            Hittar inte sökt aktivitet
        </div>
        }

    <a asp-action="UploadAktivity" asp-route-id="@Model.AktivitetId" type="button" class="btn btn-mhm btn-sm">Lämna In</a>
<div class="row">
    <table class="table table-responsive table-bordered">
        <tr class="table-primary">
            <th>DokumentsTyp</th>
            <th>Aktivitetdokumentens Namn</th>
            <th>Uppladdnings Datum</th>
            <th>Anvandare</th>
        </tr>
        @foreach (Dokument file in Model.Dokument)
        {
    <tr>
        <td>@file.DokumentTyp.Namn</td>
        <td><filextension namn="@(file.Namn)"></filextension>@file.Namn</td>
        <td>@file.UppladdningsDatum</td>
        <td>@file.Anvandare.FullNamn</td>
        <td><a href="/Elev/DownloadFile?filename=@file.Namn">Ladda ner</a></td>
    </tr>


        }
    </table>
    </div>
    <div>

        @if (Model != null)
        {
            <div>
                <a asp-action="Index">Tillbaka till kurs</a> |
                <a asp-action="ModulDetails" asp-route-ModulId="@Model.ModulId">Tillbaka till modul</a>
            </div>
        }
        else
        {
            <div>
                <a asp-action="Index">Tillbaka till kurs</a>
            </div>
        }
    </div>
