@model LMS.Grupp4.Core.ViewModels.Elev.AktivitetElevDetailsViewModel

@{
    ViewData["Title"] = "Detaljer för Aktivitet";
}


<div>
    @if (Model != null)
    {
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">                
                <li class="breadcrumb-item"><a href="/Elev">Hem</a></li>
                <li class="breadcrumb-item"><a href="@("/Elev/ModulDetails?ModulId="+Model.ModulId)">Modul</a></li>
                <li class="breadcrumb-item active" aria-current="page">Aktivitet</li>
            </ol>
        </nav>
        <div class="row titlecardbox justify-content-center pad-0">
            <div class="card topbar titlecardbox">
                <h1 class="center">@Model.Namn Detaljer</h1>
                <h4 class="center">Tillhör @Model.ModulNamn</h4>
                <h5 class="center">Som i sin tur tillhör @Model.KursNamn</h5>
            </div>
        </div>
        <div class="row titlecardbox justify-content-center pad-0">
            <listdivision class="rows margin-3 titlecardbox center">
                <h5 class="center">AktivitetsTyp:</h5>
                <h3 class="center">@Model.AktivitetTypNamn</h3>
            </listdivision>        
            <div class="row border titlecardbox margin-3 pad-0 justify-content-center">
                <div class="center">
                    <div class="rows center">
                        <h5 class="margin-3 center">
                            Från @Html.DisplayFor(model => model.StartDatum)
                        </h5>
                        <h5 class="margin-3 center">
                            Till @Html.DisplayFor(model => model.SlutDatum)
                        </h5>
                    </div>
                </div>
                <div class="rows center">
                    <status start-datum="@(Model.StartDatum)" slut-datum="@(Model.SlutDatum)"></status>
                </div>
            </div>
        </div>
        <div class="row titlecardbox justify-content-center pad-0">
            <div class="col-md-7 topbar rounded">
                <h2 class="center">
                    @Html.DisplayNameFor(model => model.Beskrivning)
                </h2>
            </div>
            <div class="col-md-7 card card-body">
                <div class="center">
                    @Html.DisplayFor(model => model.Beskrivning)
                </div>
            </div>
        </div>
        
    }


    else
    {
        <div class="alert alert-success" role="alert">
            Hittar inte sökt aktivitet
        </div>
    }

    <a asp-action="UploadAktivity" asp-route-id="@Model.AktivitetId" type="button" class="btn btn-mhm btn-sm">Lämna In</a>
<div class="row">
    <table class="table table-responsive table-bordered">
        <tr class="table-primary">
            <th>DokumentsTyp</th>
            <th>Aktivitetdokumentens Namn</th>
            <th>Uppladdnings Datum</th>
            <th>Anvandare</th>
        </tr>
        @foreach (Dokument file in Model.Dokument)
        {
    <tr>
        <td>@file.DokumentTyp.Namn</td>
        <td><filextension namn="@(file.Namn)"></filextension>@file.Namn</td>
        <td>@file.UppladdningsDatum</td>
        <td>@file.Anvandare.FullNamn</td>
        <td><a href="/Elev/DownloadFile?filename=@file.Namn">Ladda ner</a></td>
    </tr>


        }
    </table>
    </div>
    <div>

        @if (Model != null)
        {
           
        }
        else
        {
            <div>
                <a asp-action="Index">Tillbaka till kurs</a>
            </div>
        }
    </div>
</div>

