@model LMS.Grupp4.Core.ViewModels.Elev.AnvandarElevDetaljerViewModel

@{
    ViewData["Title"] = "Användare";
}

<div>
    @if (Model != null)
    {
        <div class="row titlecardbox justify-content-center margin-3 pad-0">
            <div class="card topbar titlecardbox">
                <h1 class="center">@Model.KursNamn</h1>
                <h3 class="center">Deltagare</h3>
            </div>
        </div>
        <h4 class="center">Lärare</h4>
        <hr />
        @if (Model.Larare?.Count > 0)
        {
            <div class="row justify-content-center">
                @foreach (var item in Model.Larare)
                {
                    <div class="user-card justify-content-center">
                        <div class="center">
                            <img src="@item.Avatar" alt="Image avatar" />
                        </div>
                        <h4 class="center">
                            @Html.DisplayNameFor(modelItem => item.FullNamn)
                        </h4>
                        <div class="center">
                            @Html.DisplayFor(modelItem => item.FullNamn)
                        </div>
                        <h4 class="center">
                            @Html.DisplayNameFor(modelItem => item.Email)
                        </h4>
                        <div class="center">
                            @Html.DisplayFor(modelItem => item.Email)
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div>Det finns inga lärare</div>
        }

        <hr />
        <h4 class="center">Elever</h4>
        <hr />
        @if (Model.Elever?.Count > 0)
        {
            <div class="row justify-content-center">
                @foreach (var item in Model.Elever)
                {
                    <div class="user-card justify-content-center">
                        <div class="center">
                            <img src="@item.Avatar" alt="Image avatar" />
                        </div>
                        <h4 class="center">
                            @Html.DisplayNameFor(modelItem => item.FullNamn)
                        </h4>
                        <div class="center">
                            @Html.DisplayFor(modelItem => item.FullNamn)
                        </div>
                        <h4 class="center">
                            @Html.DisplayNameFor(modelItem => item.Email)
                        </h4>
                        <div class="center">
                            @Html.DisplayFor(modelItem => item.Email)
                        </div>
                    </div>
                }
            </div>            
        }
        else
        {
            <div>Det finns inga elever</div>
        }
    }
    else
    {
        <div>Det finns ingen information</div>
    }
</div>
