@model LMS.Grupp4.Core.ViewModels.Elev.ElevDetailsViewModel

@{
    ViewData["Title"] = "Aktuell kurs";
}

<div>
    @if (Model != null)
    {
        <h4>Elev</h4>
        <hr />
        <dl class="row">
            <div class="col-6">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FullNamn)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FullNamn)
                </dd>
            </div>

            <div class="col-6">
                <dd class="col-sm-12">
                    <img src="@Model.Avatar" alt="Image avatar" />
                </dd>
            </div>
        </dl>
        
        <br />
        @Html.ActionLink("Visa deltagare", "GetAnvandarna", new { KursId = Model.Kurs.KursId })
        <br/> 
        <br />
        @Html.ActionLink("Visa kurs material", "Details", new { KursId = Model.Kurs.KursId })
        <br/>


        <hr />
        <h4>Aktuell kurs @Model.Kurs?.Namn</h4>
        <hr />
        @if (Model.Kurs != null)
        {
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Kurs.Namn)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Kurs.Namn)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Kurs.StartDatum)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Kurs.StartDatum)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Kurs.SlutDatum)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Kurs.SlutDatum)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Kurs.Beskrivning)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Kurs.Beskrivning)
                </dd>
                <dt class="col-sm-2">
                    Status
                </dt>
                <dd class="col-sm-10">
                    <status start-datum="@(Model.Kurs.StartDatum)" slut-datum="@(Model.Kurs.SlutDatum)"></status>
                </dd>
            </dl>
        }
        else
        {
            <div>Det finns ingen kurs</div>
        }

        <hr />
        <h4>Kursens moduler</h4>
        <hr />
        @if (Model.Moduler?.Count > 0)
        {
            <div class="col" id="accordion">
                <div class="row">
                    <h5 class="col-3 topbar center border-right-0 corner-left">
                        @Html.DisplayNameFor(model => model.Moduler.First().Namn)
                    </h5>
                    <h5 class="col-2 topbar center border-right-0">
                        @Html.DisplayNameFor(model => model.Moduler.First().StartDatum)
                    </h5>
                    <h5 class="col-2 topbar center border-right-0">
                        @Html.DisplayNameFor(model => model.Moduler.First().SlutDatum)
                    </h5>
                    <h5 class="col-3 topbar center border-right-0">
                        &nbsp;
                    </h5>
                    <h5 class="col-2 topbar center corner-right">
                        @Html.DisplayNameFor(model => model.Moduler.First().ModulStatus)
                    </h5>
                </div>
                <div>
                    @foreach (var item in Model.Moduler)
                    {
                        <listdivision class="row">
                            <div class="col-3 border border-right-0" data-toggle="collapse" data-target="#@("collapse" + item.ModulId)">
                                <h6 class="center">
                                    @Html.DisplayFor(modelItem => item.Namn)
                                </h6>
                            </div>
                            <div class="col-2 border border-right-0">
                                <h6 class="center">
                                    @Html.DisplayFor(modelItem => item.StartDatum)
                                </h6>
                            </div>
                            <div class="col-2 border border-right-0">
                                <h6 class="center">
                                    @Html.DisplayFor(modelItem => item.SlutDatum)
                                </h6>
                            </div>
                            <div class="col-3 border border-right-0">
                                <div class="center">
                                    <a class="btn btn-mhm btn-sm" asp-controller="Elev" asp-action="ModulDetails" asp-route-ModulId="@item.ModulId">Detaljer</a>
                                    <button class="btn btn-mhm btn-sm" data-toggle="collapse" data-target="#@("collapse" + item.ModulId)">Mera</button>
                                </div>
                            </div>
                            <div class="col-2 border">
                                <h6 class="center">
                                    <status kurs-status="@(item.ModulStatus)"></status>
                                </h6>
                            </div>
                        </listdivision>
                        <div>
                            <div id="@("collapse" + item.ModulId)" class="row collapse" data-parent="#accordion">
                                <div class="col-md-6 pad-0">
                                    <h5 class="topbar corner-rounded">
                                        @Html.DisplayNameFor(model => model.Moduler.First().Beskrivning)
                                    </h5>
                                    <div class="card card-body">
                                        @Html.DisplayFor(modelItem => item.Beskrivning)
                                    </div>
                                </div>
                                <div class="col-md-6 pad-0">
                                    <h5 class="topbar corner-rounded">
                                        Aktiviteter
                                    </h5>
                                    <div class="card card-body">
                                        @if (item.Aktiviteter?.Count > 0)
                                        {
                                            <div class="row">
                                                <div class="col-4">
                                                    &nbsp;
                                                </div>
                                                <div class="col-3">
                                                    @Html.DisplayNameFor(model => model.Moduler.First().Aktiviteter.First().StartDatum)
                                                </div>
                                                <div class="col-3">
                                                    @Html.DisplayNameFor(model => model.Moduler.First().Aktiviteter.First().SlutDatum)
                                                </div>
                                                <div class="col-2">
                                                    @Html.DisplayNameFor(model => model.Moduler.First().Aktiviteter.First().AktivitetStatus)
                                                </div>
                                            </div>
                                            @foreach (var ak in item.Aktiviteter)
                                            {
                                                <div class="row">
                                                    <a class="col-4" asp-controller="Elev" asp-action="AktivitetDetails" asp-route-AktivietetId="@ak.AktivitetId">@Html.DisplayFor(a => ak.Namn)</a>
                                                    <div class="col-3">
                                                        @Html.DisplayFor(a => ak.StartDatum)
                                                    </div>
                                                    <div class="col-3">
                                                        @Html.DisplayFor(a => ak.SlutDatum)
                                                    </div>
                                                    <div class="col-2">
                                                        <status scale="true" kurs-status="@(ak.AktivitetStatus)"></status>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else
                                        {         
                                            <div class="row">
                                                <div class="col-12">Det finns inga aktiviteter</div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div>Det finns ingen moduler</div>
        }
    }
    else
    {
        <div class="alert alert-success" role="alert">
            Hittar inte sökt kurs
        </div>
    }
</div>