@model LMS.Grupp4.Core.Entities.Kurs

@{
    ViewData["Title"] = "Details";
}

<h1>Kurs Material</h1>

<div>    
    <hr />    
</div>




<table class="table table-responsive table-bordered">
    <tr class="table-primary">
        <th>Dokuments Typ</th>
        <th>Dokuments Namn</th>
        <th>Uppladdnings Datum</th>
        <th>Anvandare</th>
    </tr>
    @foreach (Dokument file in Model.Dokument)
    {
        <tr>
            <td>@file.DokumentTyp.Namn</td>
            <td><filextension namn="@(file.Namn)"></filextension>@file.Namn</td>
            <td>@file.UppladdningsDatum</td>
            <td>@file.Anvandare.FullNamn</td>
            <td><a href="/Elev/DownloadFile?filename=@file.Namn">Ladda ner</a></td>
        </tr>
    }
</table>




<div>    
    <a asp-action="Index">Tillbaka</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
