@model LMS.Grupp4.Core.ViewModels.Elev.ModulElevDetailsViewModel

@{
    ViewData["Title"] = "Detaljer för Modul";
}

<div>
    @if (Model != null)
    {
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Elev">Hem</a></li>
                <li class="breadcrumb-item"><a href="@("/Elev/ModulDetails?ModulId="+Model.ModulId)">Modul</a></li>
                <li class="breadcrumb-item active" aria-current="page">Aktivitet</li>
            </ol>
        </nav>
        <div class="row titlecardbox justify-content-center pad-0">
            <div class="card topbar titlecardbox">
                <h1 class="center">@Model.Namn Detaljer</h1>
                <h4 class="center">Tillhör @Model.KursNamn</h4>
            </div>
        </div>
        <div class="row titlecardbox margin-3 pad-0 justify-content-center ">
            <div class="row border titlecardbox margin-3 pad-15 justify-content-center">
                <div class="center">
                    <div class="rows center">
                        <h5 class="margin-3 center">
                            Från @Html.DisplayFor(model => model.StartDatum)
                        </h5>
                        <h5 class="margin-3 center">
                            Till @Html.DisplayFor(model => model.SlutDatum)
                        </h5>
                    </div>
                </div>
                <div class="rows center">
                    <status start-datum="@(Model.StartDatum)" slut-datum="@(Model.SlutDatum)"></status>
                </div>
            </div>
        </div>
        <div class="row titlecardbox justify-content-center pad-0">
            <div class="col-md-7 topbar rounded">
                <h2 class="center">
                    @Html.DisplayNameFor(model => model.Beskrivning)
                </h2>
            </div>
            <div class="col-md-7 card card-body">
                <div class="center">
                    @Html.DisplayFor(model => model.Beskrivning)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md" id="accordion">
                <div class="row">
                    <Ctop class="col-2 topbar center border-right-0 corner-left">
                        @Html.DisplayNameFor(model => model.Namn)
                    </Ctop>
                    <Ctop class="col-2 topbar center border-right-0">
                        @Html.DisplayNameFor(model => model.StartDatum)
                    </Ctop>
                    <Ctop class="col-2 topbar center border-right-0">
                        @Html.DisplayNameFor(model => model.SlutDatum)
                    </Ctop>
                    <Ctop class="col-2 topbar center border-right-0">
                        @Html.DisplayNameFor(model => model.Aktiviteter.First().AktivitetTypNamn)
                    </Ctop>
                    <Ctop class="col-2 topbar center border-right-0">
                        Mer info
                    </Ctop>
                    <Ctop class="col-2 topbar center corner-right">
                        Status
                    </Ctop>
                </div>

                <div>
                    @foreach (var item in Model.Aktiviteter.OrderBy(modul => modul.StartDatum))
                    {
                        <listdivision class="row">
                            <div class="col-2 border border-right-0" data-toggle="collapse" data-target="#@("collapse" + item.AktivitetId)">
                                <h6 class="center">
                                    @Html.DisplayFor(modelItem => item.Namn)
                                </h6>
                            </div>
                            <div class="col-2 border border-right-0">
                                <h6 class="center">
                                    @Html.DisplayFor(modelItem => item.StartDatum)
                                </h6>
                            </div>
                            <div class="col-2 border border-right-0">
                                <h6 class="center">
                                    @Html.DisplayFor(modelItem => item.SlutDatum)
                                </h6>
                            </div>
                            <div class="col-2 border border-right-0">
                                <h6 class="center">
                                    @Html.DisplayFor(modelItem => item.AktivitetTypNamn)
                                </h6>
                            </div>
                            <div class="col-2 border border-right-0">
                                <div class="row center">
                                    <a class="btn btn-mhm btn-sm" asp-controller="Elev" asp-action="AktivitetDetails" asp-route-AktivietetId="@item.AktivitetId">Detaljer</a>
                                    <button class="btn btn-mhm btn-sm" data-toggle="collapse" data-target="#@("collapse" + item.AktivitetId)">Mera</button>
                                </div>
                            </div>
                            <div class="col-2 border">
                                <div class="center">
                                    <status start-datum="@(item.StartDatum)" slut-datum="@(item.SlutDatum)"></status>
                                </div>
                            </div>
                        </listdivision>
                        <div>
                            <div id="@("collapse" + item.AktivitetId)" class="row collapse
                 @(item.StartDatum < DateTime.Now && DateTime.Now < item.SlutDatum ? "show" : "")"
                                 data-parent="#accordion">
                                <div class="col-md-5 pad-0">
                                    <h5 class="topbar corner-rounded">
                                        Beskrivning
                                    </h5>
                                    <div class="card card-body">
                                        @Html.DisplayFor(modelItem => item.Beskrivning)
                                    </div>
                                </div>
                                <div class="col-md-6 pad-0">
                                    <h5 class="topbar corner-rounded">
                                        Aktivitetstyp
                                    </h5>
                                    <div class="card card-body">
                                        @item.AktivitetTyp.Namn
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>

        <a asp-action="UploadDokument" asp-route-id="@Model.ModulId" type="button" class="btn btn-outline-success btn-sm">Ladda upp Filer</a>


        <table class="table table-responsive table-bordered">
            <tr>
                <th>Moduldokumentens Namn</th>
                <th>Uppladdnings Datum</th>
                <th>Anvandare</th>
            </tr>
            @foreach (Dokument file in Model.Dokument)
            {
                <tr>
                    <td><filextension namn="@(file.Namn)"></filextension>@file.Namn</td>
                    <td>@file.UppladdningsDatum</td>
                    <td>@file.Anvandare.FullNamn</td>
                    <td><a href="/Elev/DownloadFile?filename=@file.Namn">Ladda ner</a></td>
                </tr>
            }
        </table>
        @if (Model.Aktiviteter?.Count > 0)
        {





        }
        else
        {
            <div>Det finns inga aktiviteter</div>
        }
    }
    else
    {
        <div class="alert alert-success" role="alert">
            Hittar inte sökt modul
        </div>
    }
</div>
