@model LMS.Grupp4.Core.ViewModels.Elev.ModulElevDetailsViewModel

@{
    ViewData["Title"] = "Detaljer för Modul";
}

<div>
    @if (Model != null)
    {
        <h4>@Model.KursNamn - @Model.Namn</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Namn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Namn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartDatum)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartDatum)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SlutDatum)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SlutDatum)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Beskrivning)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Beskrivning)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.KursNamn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.KursNamn)
            </dd>
            <dt class="col-sm-2">
                Status
            </dt>
            <dd class="col-sm-10">
                <status start-datum="@(Model.StartDatum)" slut-datum="@(Model.SlutDatum)"></status>
            </dd>
        </dl>
            <a asp-action="UploadDokument" asp-route-id="@Model.ModulId" type="button" class="btn btn-outline-success btn-sm">Ladda upp Filer</a>
        <dl class="row">

            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
                <table class="table table-responsive table-bordered">
                    <tr>
                        <th>Dokuments Namn</th>
                        <th>Uppladdnings Datum</th>
                        <th>Anvandare</th>
                    </tr>
                    @foreach (Dokument file in Model.Dokument)
                    {
                <tr>
                    <td><filextension namn="@(file.Namn)"></filextension>@file.Namn</td>
                    <td>@file.UppladdningsDatum</td>
                    <td>@file.Anvandare.FullNamn</td>
                    <td><a href="/Kurser/DownloadFile?filename=@file.Namn">Ladda ner</a></td>
                </tr>


                    }
                </table>

            </div>



        </dl>

        <hr />
        <h4>Aktiviteter</h4>
        <hr />
        @if (Model.Aktiviteter?.Count > 0)
        {
            <div class="col" id="accordion">
                <div class="row">
                    <h5 class="col-2 topbar center border-right-0 corner-left">
                        @Html.DisplayNameFor(model => model.Aktiviteter.First().Namn)
                    </h5>
                    <h5 class="col-2 topbar center border-right-0">
                        @Html.DisplayNameFor(model => model.Aktiviteter.First().StartDatum)
                    </h5>
                    <h5 class="col-2 topbar center border-right-0">
                        @Html.DisplayNameFor(model => model.Aktiviteter.First().SlutDatum)
                    </h5>
                    <h5 class="col-2 topbar center border-right-0">
                        @Html.DisplayNameFor(model => model.Aktiviteter.First().AktivitetTypNamn)
                    </h5>
                    <h5 class="col-2 topbar center border-right-0">
                        &nbsp;
                    </h5>
                    <h5 class="col-2 topbar center corner-right">
                        @Html.DisplayNameFor(model => model.Aktiviteter.First().AktivitetStatus)
                    </h5>
                </div>
                <div>
                    @foreach (var item in Model.Aktiviteter) 
                    {
                    <listdivision class="row">
                        <div class="col-2 border border-right-0" data-toggle="collapse" data-target="#@("collapse" + item.AktivitetId)">
                            <h6 class="center">
                                @Html.DisplayFor(modelItem => item.Namn)
                            </h6>
                        </div>
                        <div class="col-2 border border-right-0">
                            <h6 class="center">
                                @Html.DisplayFor(modelItem => item.StartDatum)
                            </h6>
                        </div>
                        <div class="col-2 border border-right-0">
                            <h6 class="center">
                                @Html.DisplayFor(modelItem => item.SlutDatum)
                            </h6>
                        </div>
                        <div class="col-2 border border-right-0">
                            <h6 class="center">
                                @Html.DisplayFor(modelItem => item.AktivitetTypNamn)
                            </h6>
                        </div>
                        <div class="col-2 border border-right-0">
                            <div class="center">
                                <a class="btn btn-mhm btn-sm" asp-controller="Elev" asp-action="AktivitetDetails" asp-route-AktivietetId="@item.AktivitetId">Detaljer</a>
                                <button class="btn btn-mhm btn-sm" data-toggle="collapse" data-target="#@("collapse" + item.AktivitetId)">Mera</button>
                            </div>
                        </div>
                        <div class="col-2 border">
                            <h6 class="center">
                                <status start-datum="@(item.StartDatum)" slut-datum="@(item.SlutDatum)"></status>
                            </h6>
                        </div>
                    </listdivision>
                    <div>
                        <div id="@("collapse" + item.AktivitetId)" class="row collapse" data-parent="#accordion">
                            <div class="col-md-8 pad-0">
                                <h5 class="topbar corner-rounded">
                                    @Html.DisplayNameFor(model => model.Aktiviteter.First().Beskrivning)
                                </h5>
                                <div class="card card-body">
                                    @Html.DisplayFor(modelItem => item.Beskrivning)
                                </div>
                            </div>
                            <div class="col-md-2 pad-0">
                                <h5 class="topbar corner-rounded">
                                    @Html.DisplayNameFor(model => model.Aktiviteter.First().KursNamn)
                                </h5>
                                <div class="card card-body">
                                    @Html.DisplayFor(modelItem => item.KursNamn)
                                </div>
                            </div>
                            <div class="col-md-2 pad-0">
                                <h5 class="topbar corner-rounded">
                                    @Html.DisplayNameFor(model => model.Aktiviteter.First().ModulNamn)
                                </h5>
                                <div class="card card-body">
                                    @Html.DisplayFor(modelItem => item.ModulNamn)
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div>Det finns inga aktiviteter</div>
        }
    }
    else
    {
        <div class="alert alert-success" role="alert">
            Hittar inte sökt modul
        </div>
    }
</div>
<div>
    <a asp-action="Index">Tillbaka till kurs</a>
</div>
