@model LMS.Grupp4.Core.ViewModels.KursLitteratur.KursLitteraturEditLitteraturViewModel

@{
    ViewData["Title"] = "Editera Litteratur";
}

<h1>Editera Litteratur</h1>

@{ await Html.RenderPartialAsync("_MessageView"); }

@if (Model.NoLitteratur == false)
{
    <h4>@Model.Titel</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <form asp-action="EditLitteratur">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" id="LitteraturId" name="LitteraturId" value="@Model.LitteraturId" />

                <div class="form-group">
                    <label for="AmneId" class="control-label">Ämne</label>
                    @Html.DropDownList("AmneId", Model.Amnen, new { @class = "form-control" })
                    <span asp-validation-for="AmneId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="NivaId" class="control-label">Nivå</label>
                    @Html.DropDownList("NivaId", Model.Nivaer, new { @class = "form-control" })
                    <span asp-validation-for="NivaId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Titel" class="control-label"></label>
                    <input asp-for="Titel" class="form-control" />
                    <span asp-validation-for="Titel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UtgivningsDatum" class="control-label"></label>
                    <input asp-for="UtgivningsDatum" class="form-control" />
                    <span asp-validation-for="UtgivningsDatum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Beskrivning" class="control-label"></label>
                    <input asp-for="Beskrivning" class="form-control" />
                    <span asp-validation-for="Beskrivning" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Url" class="control-label"></label>
                    <input asp-for="Url" class="form-control" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Uppdatera" class="btn btn-primary" />
                    <a class="btn btn-primary" asp-controller="KursLitteratur" asp-action="CreateForfattare" asp-route-LitteraturId="@Model.LitteraturId">Skapa författare</a>
                </div>
            </form>

            @if (Model.Forfattare != null && Model.Forfattare.Count() > 0)
            {
                <h4>Författare</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Namn</th>
                            <th>Ålder</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Forfattare)
                        { 
                            string namn = item.ForNamn + " " + item.EfterNamn;
                            <tr>
                                <td>@namn</td>
                                <td>@item.Age</td>
                                <th>
                                    <a class="btn btn-mhm btn-sm" asp-controller="KursLitteratur" asp-action="EditForfattare" asp-route-ForfatterId="@item.ForfatterId" asp-route-LitteraturId="@Model.LitteraturId">Editera</a>
                                    <a class="btn btn-danger btn-sm" asp-controller="KursLitteratur" asp-action="DeleteForfattare" asp-route-ForfatterId="@item.ForfatterId" asp-route-LitteraturId="@Model.LitteraturId">Radera</a>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
             }
            </div>
    </div>

}
else
{
    <div class="row">
        <div class="col-md-8">
            Hittade inte litteraturen
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}