@model IEnumerable<LMS.Grupp4.Core.Entities.Kurs>
@{
    ViewData["Title"] = "Home Page";
}
<head>
    @*<link rel="stylesheet" href="~/css/GeneralView.css" />*@
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>

<div class="row">
    <div class="col-md-3">
        <a class="btn btn-mhm col-md-10" asp-area="" asp-controller="Kurser" asp-action="Index">
            Kurser
        </a>
        <a class="btn btn-mhm col-md-10" asp-area="" asp-controller="Admin" asp-action="Index">
            Administrera
            Användare
        </a>
        <a class="btn btn-mhm col-md-10">
            Kurs litteratur
            Administrering
        </a>
        <a class="btn btn-mhm col-md-10" asp-controller="Aktivitet"  asp-action="index">
            Hantera
            Inlämningar
        </a>        
    </div>        
    <div class="col-md" id="accordion">
        <div class="row">
            <Ctop class="col-3 topbar center border-right-0 corner-left">
                @Html.DisplayNameFor(model => model.Namn)
            </Ctop>
            <Ctop class="col-2 topbar center border-right-0">
                @Html.DisplayNameFor(model => model.StartDatum)
            </Ctop>
            <Ctop class="col-2 topbar center border-right-0">
                @Html.DisplayNameFor(model => model.SlutDatum)
            </Ctop>
            <Ctop class="col-3 topbar center border-right-0">
                Alternativ
            </Ctop>            
            <Ctop class="col-2 topbar center corner-right">
                @Html.DisplayNameFor(model => model.KursStatus)
            </Ctop>            
        </div>

        <div>
            @foreach (var item in Model.OrderBy(kurs => kurs.StartDatum))
            {              
                <listdivision class="row">                    
                    <div class="col-3 border border-right-0" data-toggle="collapse" data-target="#@("collapse" + item.Id)">
                        <h6 class="center">
                            @Html.DisplayFor(modelItem => item.Namn)
                        </h6>                        
                    </div>
                    <div class="col-2 border border-right-0">
                        <h6 class="center">
                            @Html.DisplayFor(modelItem => item.StartDatum)
                        </h6>
                    </div>
                    <div class="col-2 border border-right-0">
                        <h6 class="center">
                            @Html.DisplayFor(modelItem => item.SlutDatum)
                        </h6>
                    </div>
                    <div class="col-3 border border-right-0">
                        <div class="center row">
                            <a class="btn btn-mhm btn-sm" asp-controller="kurser" asp-action="Edit" asp-route-id="@item.Id">Editera</a>
                            <a class="btn btn-mhm btn-sm" asp-controller="kurser" asp-action="Details" asp-route-id="@item.Id">Detaljer</a>
                            <button class="btn btn-mhm btn-sm" data-toggle="collapse" data-target="#@("collapse" + item.Id)">Mera</button>
                        </div>
                    </div>
                    <div class="col-2 border">
                        <div class="center">
                            <status start-datum="@(item.StartDatum)" slut-datum="@(item.SlutDatum)"></status>
                        </div>
                    </div>                    
                </listdivision>
                <div>
                    <div id="@("collapse" + item.Id)" class="row collapse 
                         @(item.StartDatum < DateTime.Now && DateTime.Now < item.SlutDatum ? "show" : "")"
                         data-parent="#accordion">
                        <div class="col-md-5 pad-0">
                            <h5 class="topbar corner-rounded">
                                Beskrivning
                            </h5>
                            <div class="card card-body">
                                @Html.DisplayFor(modelItem => item.Beskrivning)
                            </div>
                        </div>
                        <div class="col-md-7 pad-0">
                            <h5 class="topbar corner-rounded">
                                Moduler
                            </h5>
                            <div class="card card-body">  
                                <div class="row">
                                    <div class="col pad-2">

                                    </div>
                                    <div class="col pad-2">
                                        <div class="center">
                                            Från
                                        </div>
                                    </div>
                                    <div class="col pad-2">
                                        <div class="center">
                                            Till
                                        </div>
                                    </div>
                                    <div class="col-2 pad-2">
                                        <div class="center">
                                            Status
                                        </div>
                                    </div>
                                </div>
                                @foreach (var modul in item.Moduler.OrderBy(modul => modul.StartDatum))
                                {
                                    <div class="row">
                                        <div class="col pad-2">
                                            <a class="center" asp-controller="Moduler" asp-action="Details" asp-route-id="@modul.Id">
                                                @Html.DisplayFor(a => modul.Namn)<br />
                                            </a>
                                        </div>
                                        <div class="col pad-2">
                                            <div class="center">
                                                @Html.DisplayFor(a => modul.StartDatum)
                                            </div>
                                        </div>
                                        <div class="col pad-2">
                                            <div class="center">
                                                @Html.DisplayFor(a => modul.SlutDatum)
                                            </div>
                                        </div>
                                        <div class="col-2 pad-2">
                                            <status class="center"
                                                    scale="true" 
                                                    start-datum="@(modul.StartDatum)" 
                                                    slut-datum="@(modul.SlutDatum)">

                                            </status>
                                        </div>
                                    </div>                                   
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


