@model LMS.Grupp4.Core.Entities.Modul

@{
    ViewData["Title"] = "Delete";
}

<h1 class="center">Radera Aktiviteten</h1>

<h3 class="center">Är du verkligen säker på att du vill göra det här?</h3>
<div>
    <div class="row titlecardbox justify-content-center pad-0">
        <div class="card topbar titlecardbox">
            <h1 class="center">@Model.Namn</h1>
        </div>
    </div>
    <div class="row titlecardbox justify-content-center pad-0">
        <div class="card border titlecardbox">
            <h5 class="pad-0 margin-3 center">
                Från @Html.DisplayFor(model => model.StartDatum)
            </h5>
            <h5 class="pad-0 margin-3 center">
                Till @Html.DisplayFor(model => model.SlutDatum)
            </h5>
        </div>
    </div>
    <div class="rows titlecardbox center pad-0">
        <div class="col-md-6 topbar rounded">
            <h2 class="center">
                @Html.DisplayNameFor(model => model.Beskrivning)
            </h2>
        </div>
        <div class="col-md-6 card card-body">
            <div class="center">
                @Html.DisplayFor(model => model.Beskrivning)
            </div>
        </div>
    </div>
    <div class="rows center">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Radera" class="btn btn-danger" />
        </form>
        <br />
        <a asp-controller="moduler" asp-action="Details" asp-route-id="@Model.Id" class="center btn-mhm btn-lg">Tillbaka till Modulen</a>
    </div>
</div>

</div>
