@model Modul

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Larare">Hem</a></li>
        <li class="breadcrumb-item"><a href="@("/kurser/Details/"+Model.KursId)">Kurs</a></li>
        <li class="breadcrumb-item active" aria-current="page">Modul</li>
    </ol>
</nav>
@{
    ViewData["Title"] = "Details";
}

@{ await Html.RenderPartialAsync("_MessageView"); }

<div class="row titlecardbox justify-content-center pad-0">
    <div class="card topbar titlecardbox">
        <h1 class="center">@Model.Namn Detaljer</h1>
        <h4 class="center">Tillhör @Model.Kurs.Namn</h4>
    </div>
</div>
<div class="row titlecardbox justify-content-center pad-0">
    <div class="card border titlecardbox">
        <h5 class="pad-0 margin-3 center">
            Från @Html.DisplayFor(model => model.StartDatum)
        </h5>
        <h5 class="pad-0 margin-3 center">
            Till @Html.DisplayFor(model => model.SlutDatum)
        </h5>
    </div>
</div>
<div class="row titlecardbox justify-content-center pad-0">
    <div class="col-md-7 topbar rounded">
        <h2 class="center">
            @Html.DisplayNameFor(model => model.Beskrivning)
        </h2>
    </div>
    <div class="col-md-7 card card-body">
        <div class="center">
            @Html.DisplayFor(model => model.Beskrivning)
        </div>
    </div>
</div>
<div class="row">
    <a class="btn btn-mhm btn-lg" asp-controller="moduler" asp-action="Edit" asp-route-id="@Model.Id">Editera @Model.Namn</a>
    <a class="btn btn-mhm btn-lg" asp-controller="moduler" asp-action="Delete" asp-route-id="@Model.Id">Radera @Model.Namn</a>
    <a class="btn btn-mhm btn-lg" asp-controller="aktivitet" asp-action="Create" asp-route-id="@Model.Id">Skapa ny Aktivitet</a>
</div>

<div class="row">
    <div class="col-md" id="accordion">
        <div class="row">
            <Ctop class="col-3 topbar center border-right-0 corner-left">
                @Html.DisplayNameFor(model => model.Namn)
            </Ctop>
            <Ctop class="col-2 topbar center border-right-0">
                @Html.DisplayNameFor(model => model.StartDatum)
            </Ctop>
            <Ctop class="col-2 topbar center border-right-0">
                @Html.DisplayNameFor(model => model.SlutDatum)
            </Ctop>
            <Ctop class="col-3 topbar center border-right-0">
                Alternativ
            </Ctop>
            <Ctop class="col-2 topbar center corner-right">
                Status
            </Ctop>
        </div>

        <div>
            @foreach (var item in Model.Aktiviteter.OrderBy(modul => modul.StartDatum))
            {
                <listdivision class="row">
                    <div class="col-3 border border-right-0" data-toggle="collapse" data-target="#@("collapse" + item.Id)">
                        <h6 class="center">
                            @Html.DisplayFor(modelItem => item.Namn)
                        </h6>
                    </div>
                    <div class="col-2 border border-right-0">
                        <h6 class="center">
                            @Html.DisplayFor(modelItem => item.StartDatum)
                        </h6>
                    </div>
                    <div class="col-2 border border-right-0">
                        <h6 class="center">
                            @Html.DisplayFor(modelItem => item.SlutDatum)
                        </h6>
                    </div>
                    <div class="col-3 border border-right-0">
                        <div class="center row">
                            <a class="btn btn-mhm btn-sm" asp-controller="aktivitet" asp-action="Edit" asp-route-id="@item.Id">Editera</a>
                            <a class="btn btn-mhm btn-sm" asp-controller="aktivitet" asp-action="Details" asp-route-id="@item.Id">Detaljer</a>
                            <button class="btn btn-mhm btn-sm" data-toggle="collapse" data-target="#@("collapse" + item.Id)">Mera</button>
                        </div>
                    </div>
                    <div class="col-2 border">
                        <div class="center">
                            <status start-datum="@(item.StartDatum)" slut-datum="@(item.SlutDatum)"></status>
                        </div>
                    </div>
                </listdivision>
                <div>
                    <div id="@("collapse" + item.Id)" class="row collapse
                 @(item.StartDatum < DateTime.Now && DateTime.Now < item.SlutDatum ? "show" : "")"
                         data-parent="#accordion">
                        <div class="col-md-5 pad-0">
                            <h5 class="topbar corner-rounded">
                                Beskrivning
                            </h5>
                            <div class="card card-body">
                                @Html.DisplayFor(modelItem => item.Beskrivning)
                            </div>
                        </div>
                        <div class="col-md-6 pad-0">
                            <h5 class="topbar corner-rounded">
                                Aktivitetstyp
                            </h5>
                            <div class="card card-body">
                                @item.AktivitetTyp.Namn
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

<a asp-action="Upload" asp-route-id="@Model.Id" type="button" class="btn btn-mhm btn-sm">Ladda upp Filer</a>
@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">*@
<div class="row">
    <table class="table table-responsive table-bordered">
        <tr class="table-primary">
            <th>DokumentsTyp</th>
            <th>Moduldokumentens Namn</th>
            <th>Uppladdnings Datum</th>
            <th>Anvandare</th>
        </tr>
        @foreach (Dokument file in Model.Dokument)
        {
    <tr>
        <td>@file.DokumentTyp.Namn</td>
        <td><filextension namn="@(file.Namn)"></filextension>@file.Namn</td>
        <td>@file.UppladdningsDatum</td>
        <td>@file.Anvandare.FullNamn</td>
        <td><a href="/Kurser/DownloadFile?filename=@file.Namn">Ladda ner</a></td>
    </tr>


        }
    </table>

</div>
