@model LMS.Grupp4.Core.Entities.Kurs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kurs</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Namn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Namn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDatum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDatum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SlutDatum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SlutDatum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beskrivning)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beskrivning)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnvandareKurser)
        </dt>
        <dd class="col-sm-10">
            @foreach (var enrollment in Model.AnvandareKurser)
            {
                @*<a asp-controller="Anvandare" asp-action="Details" asp-route-id="@enrollment.AnvandareId">
                @enrollment.Anvandare.FullNamn
            </a><br />*@

                    @enrollment.Anvandare.FullNamn <br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
