@*@model IEnumerable<LMS.Grupp4.Core.Entities.Kurs>*@
@model IEnumerable<LMS.Grupp4.Core.ViewModels.KursViewModel.KursListViewModel>
@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/GeneralView.css" />
</head>
<h1>Lista över Kurser</h1>

<div>
    <a class="btn btn-mhm btn-lg" asp-controller="kurser" asp-action="Create">Skapa ny Kurs</a>
</div>
<div class="col" id="accordion">
    <div class="row">
        <Ctop class="col-2 topbar center border-right-0 corner-left">
            @Html.DisplayNameFor(model => model.Kurs.Namn)
        </Ctop>
        <Ctop class="col-2 topbar center border-right-0">
            @Html.DisplayNameFor(model => model.Kurs.StartDatum)
        </Ctop>
        <Ctop class="col-2 topbar center border-right-0">
            @Html.DisplayNameFor(model => model.Kurs.SlutDatum)
        </Ctop>
        <Ctop class="col-4 topbar center border-right-0">
            Alternativ
        </Ctop>
        @*<div class="col">
                @Html.DisplayNameFor(model => model.Moduler)
            </div>*@
        <Ctop class="col-2 topbar center corner-right">
            @Html.DisplayNameFor(model => model.Kurs.KursStatus)
        </Ctop>
    </div>

    <div>
        @foreach (var item in Model.OrderBy(kurs => kurs.Kurs.StartDatum))
        {
            <listdivision class="row">
                <div class="col-2 border border-right-0" data-toggle="collapse" data-target="#@("collapse" + item.Kurs.Id)">
                    <h6 class="center">
                        @Html.DisplayFor(modelitem => item.Kurs.Namn)
                    </h6>
                </div>
                <div class="col-2 border border-right-0">
                    <h6 class="center">
                        @Html.DisplayFor(modelItem => item.Kurs.StartDatum)
                    </h6>
                </div>
                <div class="col-2 border border-right-0">
                    <h6 class="center">
                        @Html.DisplayFor(modelItem => item.Kurs.SlutDatum)
                    </h6>
                </div>
                <div class="col-4 border border-right-0">
                    <div class="row center">
                        <a class="btn btn-mhm btn-sm" asp-controller="kurser" asp-action="Edit" asp-route-id="@item.Kurs.Id">Editera</a>
                        <a class="btn btn-mhm btn-sm" asp-controller="kurser" asp-action="Details" asp-route-id="@item.Kurs.Id">Detaljer</a>                        
                        <button class="btn btn-mhm btn-sm" data-toggle="collapse" data-target="#@("collapse" + item.Kurs.Id)">Mera</button>
                        <label asp-for="@item.IsTeacher" class="checkbox-inline">Lärare</label>
                        <input asp-for="@item.IsTeacher" class="checkbox-inline"/>
                    </div>
                </div>
                <div class="col-2 border">
                    <div class="center">
                        <status start-datum="@(item.Kurs.StartDatum)" slut-datum="@(item.Kurs.SlutDatum)"></status>
                    </div>
                </div>
            </listdivision>
            <div>
                <div id="@("collapse" + item.Kurs.Id)" class="row collapse" data-parent="#accordion">
                    <div class="col-md-6 pad-0">
                        <h5 class="topbar corner-rounded">
                            Beskrivning
                        </h5>
                        <div class="card card-body">
                            @Html.DisplayFor(modelItem => item.Kurs.Beskrivning)
                        </div>
                    </div>
                    <div class="col-md-6 pad-0">
                        <h5 class="topbar corner-rounded">
                            Moduler
                        </h5>
                        <div class="card card-body">
                            <div class="row">
                                <div class="col pad-2">

                                </div>
                                <div class="col pad-2">
                                    <div class="center">
                                        Från
                                    </div>
                                </div>
                                <div class="col pad-2">
                                    <div class="center">
                                        Till
                                    </div>
                                </div>
                                <div class="col-2 pad-2">
                                    <div class="center">
                                        Status
                                    </div>
                                </div>
                            </div>
                            @foreach (var modul in item.Kurs.Moduler.OrderBy(modul => modul.StartDatum))
                            {
                                <div class="row">
                                    <div class="col pad-2">
                                        <a class="center" asp-controller="Moduler" asp-action="Details" asp-route-id="@modul.Id">
                                            @Html.DisplayFor(a => modul.Namn)<br />
                                        </a>
                                    </div>
                                    <div class="col pad-2">
                                        <div class="center">
                                            @Html.DisplayFor(a => modul.StartDatum)
                                        </div>
                                    </div>
                                    <div class="col pad-2">
                                        <div class="center">
                                            @Html.DisplayFor(a => modul.SlutDatum)
                                        </div>
                                    </div>
                                    <div class="col-2 pad-2">
                                        <status class="center"
                                                scale="true"
                                                start-datum="@(modul.StartDatum)"
                                                slut-datum="@(modul.SlutDatum)">

                                        </status>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div >
        button
    </div>
</div>

