@model IEnumerable<LMS.Grupp4.Core.Entities.Kurs>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Namn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlutDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beskrivning)
            </th> <th>
                @Html.DisplayNameFor(model => model.Moduler)
            </th>
            <th></th>
               <th>
                      @Html.DisplayNameFor(model => model.KursStatus)

               </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Namn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SlutDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beskrivning)
            </td>
            <td>
            </td>
            <td>
                @foreach (var modul in item.Moduler)
                {
                    <a asp-controller="Moduler" asp-action="Details" asp-route-id="@modul.Id">
                        @modul.Namn<br />
                    </a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KursStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
