@model LMS.Grupp4.Core.ViewModels.Aktivitet.AktivitetCreateViewModel

@{
    ViewData["Title"] = "Skapa aktivitet";
}

<h1>@ViewData["Title"] </h1>

@{ await Html.RenderPartialAsync("_MessageView"); }

<h4>Modul: @Model.ModulNamn - (@Model.ModulStartDatum.ToShortDateString() till @Model.ModulSlutDatum.ToShortDateString())</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div>
                <input type="hidden" asp-for="ModulId" />
                <input type="hidden" asp-for="Id" />
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="AktivitetTypId" class="control-label">Aktivitettyp</label>
                @Html.DropDownList("AktivitetTypId", Model.AktivitetTyper, new { @class = "form-control" })
                <span asp-validation-for="AktivitetTypId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Namn" class="control-label"></label>
                <input asp-for="Namn" class="form-control" />
                <span asp-validation-for="Namn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDatum" class="control-label"></label>
                <input asp-for="StartDatum" class="form-control" />
                <span asp-validation-for="StartDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlutDatum" class="control-label"></label>
                <input asp-for="SlutDatum" class="form-control" />
                <span asp-validation-for="SlutDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beskrivning" class="control-label"></label>
                <input asp-for="Beskrivning" class="form-control" />
                <span asp-validation-for="Beskrivning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
