@model LMS.Grupp4.Core.ViewModels.Aktivitet.AktivitetDetailsViewModel

@{
    ViewData["Title"] = "Detaljer för aktivitet";
}

<h1>Detaljer för @Model.AktivitetNamn</h1>

@if (Model != null)
{
<div>
    <h4>Modul: @Model.ModulNamn - (@Model.ModulStartTid.ToShortDateString() till @Model.ModulSlutTid.ToShortDateString())</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AktivitetId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AktivitetId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AktivitetNamn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AktivitetNamn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SlutTid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SlutTid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beskrivning)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beskrivning)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AktivitetTypNamn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AktivitetTypNamn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModulNamn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModulNamn)
        </dd>
    </dl>
</div>
}
else
{
    <div class="alert alert-danger" role="alert">
        Hittar inte sökt aktivitet
    </div>
}

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AktivitetId }) |
    <a asp-action="Index">Back to List</a>
</div>
