@model LMS.Grupp4.Core.ViewModels.Aktivitet.AktivitetDetailsViewModel

@{
    ViewData["Title"] = "Detaljer för aktivitet";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Larare">Hem</a></li>
        <li class="breadcrumb-item"><a href="@("/kurser/Details/"+Model.KursId)">Kurs</a></li>
        <li class="breadcrumb-item"><a href="@("/moduler/Details/"+Model.ModulId)">Modul</a></li>
        <li class="breadcrumb-item active" aria-current="page">Aktivitet</li>
    </ol>
</nav>
@*<h1>@ViewData["Title"] @Model.Namn</h1>*@

@if (Model != null)
{
<div class="row titlecardbox justify-content-center pad-0">
    <div class="card topbar titlecardbox">
        <h1 class="center">@Model.Namn Detaljer</h1>
        <h4 class="center">Tillhör @Model.ModulNamn</h4>
        <h5 class="center">Som i sin tur tillhör @Model.KursNamn</h5>
    </div>
</div>
<div class="row titlecardbox justify-content-center pad-0">
    <listdivision class="rows titlecardbox center">
        <h5 class="center">AktivitetsTyp:</h5>
        <h3 class="center">@Model.AktivitetTypNamn</h3>
    </listdivision>
</div>
<div class="row titlecardbox justify-content-center pad-0">
    <div class="card border titlecardbox">
        <h5 class="pad-0 margin-3 center">
            Från @Html.DisplayFor(model => model.StartDatum)
        </h5>
        <h5 class="pad-0 margin-3 center">
            Till @Html.DisplayFor(model => model.SlutDatum)
        </h5>
    </div>
</div>
<div class="row titlecardbox justify-content-center pad-0">
    <div class="col-md-7 topbar rounded">
        <h2 class="center">
            @Html.DisplayNameFor(model => model.Beskrivning)
        </h2>
    </div>
    <div class="col-md-7 card card-body">
        <div class="center">
            @Html.DisplayFor(model => model.Beskrivning)
        </div>
    </div>
</div>
<div class="row">
    <a class="btn btn-mhm btn-lg" asp-controller="aktivitet" asp-action="Edit" asp-route-id="@Model.Id">Editera @Model.Namn</a>
    <a class="btn btn-mhm btn-lg" asp-controller="aktivitet" asp-action="Delete" asp-route-id="@Model.Id">Radera @Model.Namn</a>
</div>

<a asp-action="Upload" asp-route-id="@Model.Id" type="button" class="btn btn-outline-success btn-sm">Ladda upp Filer</a>
<div>
    @*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">*@
        <table class="table table-responsive table-bordered">
            <tr>
                <th>Dokuments Namn</th>
                <th>Uppladdnings Datum</th>
                <th>Anvandare</th>
            </tr>
            @foreach (Dokument file in Model.Dokument)
            {
                <tr>
                    <td><filextension namn="@(file.Namn)"></filextension>@file.Namn</td>
                    <td>@file.UppladdningsDatum</td>
                    <td>@file.Anvandare.FullNamn</td>
                    <td><a href="/Kurser/DownloadFile?filename=@file.Namn">Ladda ner</a></td>
                </tr>


            }
        </table>
    @*</div>*@
</div>


}
else
{
<div class="alert alert-danger" role="alert">
    Hittar inte sökt aktivitet
</div>
}
