@model IEnumerable<LMS.Grupp4.Core.ViewModels.Aktivitet.AktivitetListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{ await Html.RenderPartialAsync("_MessageView"); }

<p>
    <a asp-action="Create" asp-route-id="1">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AktivitetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AktivitetNamn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlutTid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beskrivning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AktivitetTypNamn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModulNamn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AktivitetId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AktivitetNamn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SlutTid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Beskrivning)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AktivitetTypNamn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModulNamn)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AktivitetId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AktivitetId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.AktivitetId })
                </td>
            </tr>
        }
    </tbody>
</table>
